<h1>Live Streaming</h1>
<img src="{{ url_for('video_feed') }}" height="35%">
<hr>

<div>
    <input type="button" id="bumper" value="Bumper">
    <input type="button" id="drop" value="WheelDrop">
    <input type="button" id="cliff" value="Cliff">
</div>

<div id="dpad">
    <button onclick="sendCmd('w')">Up</button><br>
    <button onclick="sendCmd('a')">Left</button>
    <button onclick="sendCmd('s')">Stop</button>
    <button onclick="sendCmd('d')">Right</button><br>
    <button onclick="sendCmd('x')">Down</button>
</div>

<p>
    <a href="{{ url_for('phone') }}">Click to use Phone sensor control</a><br>
    <a href="{{ url_for('joystick') }}">Click to use Joystick control</a>
</p>

<script>
    function sendCmd(c) {
        fetch('/joydata', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ "d": c })
        });
    }
</script>